##################################################
# GENERAL
##################################################
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

##################################################
# IDE FILES
##################################################
.idea/
.vscode/
*.iml
*.ipr
*.iws

##################################################
# FLUTTER / DART
##################################################
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
**/doc/api/

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Flutter/.last_build_id

##################################################
# PHP / SERVER
##################################################
vendor/
.env
.env.local

##################################################
# DATABASE
##################################################
*.sqlite
*.db

##################################################
# OS FILES
##################################################
.history/
.atom/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/